---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/lintci-test/admin/teams?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token a3a3ccd66ce16c71f509080fe78b8a9af32311e4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1440640325'
      Etag:
      - W/"cd56be608361d8089c65a064d806e734"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_CLIENT_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"admin","id":1656969,"slug":"admin","description":"","permission":"admin","url":"https://api.github.com/teams/1656969","members_url":"https://api.github.com/teams/1656969/members{/member}","repositories_url":"https://api.github.com/teams/1656969/repos"}]'
  recorded_at: Thu, 27 Aug 2015 01:16:34 GMT
- request:
    method: get
    uri: https://api.github.com/user/teams?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token a3a3ccd66ce16c71f509080fe78b8a9af32311e4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1440640325'
      Etag:
      - W/"09fb6a8bbb8ab2672acb7a6a79928e83"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Oauth-Client-Id:
      - "<GITHUB_CLIENT_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"Testing Read Access","id":1580679,"slug":"testing-read-access","description":"","permission":"pull","url":"https://api.github.com/teams/1580679","members_url":"https://api.github.com/teams/1580679/members{/member}","repositories_url":"https://api.github.com/teams/1580679/repos","privacy":"secret","members_count":1,"repos_count":1,"organization":{"login":"lintci","id":7980645,"url":"https://api.github.com/orgs/lintci","repos_url":"https://api.github.com/orgs/lintci/repos","events_url":"https://api.github.com/orgs/lintci/events","members_url":"https://api.github.com/orgs/lintci/members{/member}","public_members_url":"https://api.github.com/orgs/lintci/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/7980645?v=3","description":"","name":"LintCI","company":null,"blog":"www.lintci.com","location":"","email":"","public_repos":11,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/lintci","created_at":"2014-06-25T00:23:37Z","updated_at":"2015-08-24T18:43:15Z","type":"Organization"}},{"name":"Testing
        Admin Access","id":1580701,"slug":"testing-admin-access","description":"","permission":"admin","url":"https://api.github.com/teams/1580701","members_url":"https://api.github.com/teams/1580701/members{/member}","repositories_url":"https://api.github.com/teams/1580701/repos","privacy":"secret","members_count":1,"repos_count":1,"organization":{"login":"lintci","id":7980645,"url":"https://api.github.com/orgs/lintci","repos_url":"https://api.github.com/orgs/l[...]
- request:
    method: put
    uri: https://api.github.com/teams/1656969/memberships/luci-lint
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token a3a3ccd66ce16c71f509080fe78b8a9af32311e4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1440640325'
      Etag:
      - W/"5abcc2b5155e48c51ac51305ada5edea"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - admin:org, repo
      X-Oauth-Client-Id:
      - "<GITHUB_CLIENT_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"state":"pending","url":"https://api.github.com/teams/1656969/memberships/luci-lint"}'
  recorded_at: Thu, 27 Aug 2015 01:16:35 GMT
- request:
    method: patch
    uri: https://api.github.com/user/memberships/orgs/lintci-test
    body:
      encoding: UTF-8
      string: '{"state":"active"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_SERVICE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1440640328'
      Etag:
      - W/"cb273d5e739fa2a97a91414ed19955e3"
      X-Oauth-Scopes:
      - admin:org, admin:org_hook, admin:public_key, admin:repo_hook, gist, repo,
        user
      X-Accepted-Oauth-Scopes:
      - admin:org, repo, user, write:org
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/orgs/lintci-test/memberships/luci-lint","state":"active","role":"member","organization_url":"https://api.github.com/orgs/lintci-test","organization":{"login":"lintci-test","id":13514323,"url":"https://api.github.com/orgs/lintci-test","repos_url":"https://api.github.com/orgs/lintci-test/repos","events_url":"https://api.github.com/orgs/lintci-test/events","members_url":"https://api.github.com/orgs/lintci-test/members{/member}","public_members_url":"https://api.github.com/orgs/lintci-test/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/13514323?v=3","description":null},"user":{"login":"luci-lint","id":12652292,"avatar_url":"https://avatars.githubusercontent.com/u/12652292?v=3","gravatar_id":"","url":"https://api.github.com/users/luci-lint","html_url":"https://github.com/luci-lint","followers_url":"https://api.github.com/users/luci-lint/followers","following_url":"https://api.github.com/users/luci-lint/following{/other_user}","gists_url":"https://api.github.com/users/luci-lint/gists{/gist_id}","starred_url":"https://api.github.com/users/luci-lint/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/luci-lint/subscriptions","organizations_url":"https://api.github.com/users/luci-lint/orgs","repos_url":"https://api.github.com/users/luci-lint/repos","events_url":"https://api.github.com/users/luci-lint/events{/privacy}","received_events_url":"https://api.github.com/users/luci-lint/received_events","type":"User","site_admin":false}}'
  recorded_at: Thu, 27 Aug 2015 01:16:35 GMT
- request:
    method: get
    uri: https://api.github.com/user/repos?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_SERVICE_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1440640328'
      Etag:
      - W/"2bc95108ad2a2eba2326fd885bdcd6a1"
      X-Oauth-Scopes:
      - admin:org, admin:org_hook, admin:public_key, admin:repo_hook, gist, repo,
        user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.moondragon; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":37778876,"name":"turbo-adventure","full_name":"lexci-lint/turbo-adventure","owner":{"login":"lexci-lint","id":12980159,"avatar_url":"https://avatars.githubusercontent.com/u/12980159?v=3","gravatar_id":"","url":"https://api.github.com/users/lexci-lint","html_url":"https://github.com/lexci-lint","followers_url":"https://api.github.com/users/lexci-lint/followers","following_url":"https://api.github.com/users/lexci-lint/following{/other_user}","gists_url":"https://api.github.com/users/lexci-lint/gists{/gist_id}","starred_url":"https://api.github.com/users/lexci-lint/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lexci-lint/subscriptions","organizations_url":"https://api.github.com/users/lexci-lint/orgs","repos_url":"https://api.github.com/users/lexci-lint/repos","events_url":"https://api.github.com/users/lexci-lint/events{/privacy}","received_events_url":"https://api.github.com/users/lexci-lint/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/lexci-lint/turbo-adventure","description":"","fork":false,"url":"https://api.github.com/repos/lexci-lint/turbo-adventure","forks_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/forks","keys_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/keys{/key_id}","collaborators_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/teams","hooks_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/hooks","issue_events_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/issues/events{/number}","events_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/events","assignees_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/assignees{/user}","branches_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/branches{/branch}","tags_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/tags","blobs_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/git/refs{/sha}","trees_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/git/trees{/sha}","statuses_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/statuses/{sha}","languages_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/languages","stargazers_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/stargazers","contributors_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/contributors","subscribers_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/subscribers","subscription_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/subscription","commits_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/commits{/sha}","git_commits_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/git/commits{/sha}","comments_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/comments{/number}","issue_comment_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/issues/comments{/number}","contents_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/contents/{+path}","compare_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/compare/{base}...{head}","merges_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/merges","archive_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/downloads","issues_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/issues{/number}","pulls_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/pulls{/number}","milestones_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/milestones{/number}","notifications_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/labels{/name}","releases_url":"https://api.github.com/repos/lexci-lint/turbo-adventure/releases{/id}","created_at":"2015-06-20T17:31:26Z","updated_at":"2015-06-20T17:31:26Z","pushed_at":"2015-06-20T17:31:26Z","git_url":"git://github.com/lexci-lint/turbo-adventure.git","ssh_url":"git@github.com:lexci-lint/turbo-adventure.git","clone_url":"https://github.com/lexci-lint/turbo-adventure.git","svn_url":"https://github.com/lexci-lint/turbo-adventure","homepage":null,"size":120,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","master_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":39751073,"name":"admin","full_name":"lintci-test/admin","owner":{"login":"lintci-test","id":13514323,"avatar_url":"https://avatars.githubusercontent.com/u/13514323?v=3","gravatar_id":"","url":"https://api.github.com/users/lintci-test","html_url":"https://github.com/lintci-test","followers_url":"https://api.github.com/users/lintci-test/followers","following_url":"https://api.github.com/users/lintci-test/following{/other_user}","gists_url":"https://api.github.com/users/lintci-test/gis[...]
[...]
