---
http_interactions:
- request:
    method: post
    uri: https://<CREDENTIALS>@api.github.com/repos/lintci/guinea_pig/pulls/1/comments
    body:
      encoding: UTF-8
      string: '{"body":"Nice comment.","commit_id":"6dbc62fe88432b6f9489a3d9f00dddf955a44c4e","path":"Good.java","position":"3"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1419448268'
      Etag:
      - '"18ff5ed00f959fedfd4dea7f413d8124"'
      Location:
      - https://api.github.com/repos/lintci/guinea_pig/pulls/comments/22261243
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/lintci/guinea_pig/pulls/comments/22261243","id":22261243,"diff_hunk":"@@
        -0,0 +1,6 @@\n+/**\n+ * Does absolutely nothing but pass lint checks.\n+ */","path":"Good.java","position":3,"original_position":3,"commit_id":"6dbc62fe88432b6f9489a3d9f00dddf955a44c4e","original_commit_id":"6dbc62fe88432b6f9489a3d9f00dddf955a44c4e","user":{"login":"lint-bot","id":10291379,"avatar_url":"https://avatars.githubusercontent.com/u/10291379?v=3","gravatar_id":"","url":"https://api.github.com/users/lint-bot","html_url":"https://github.com/lint-bot","followers_url":"https://api.github.com/users/lint-bot/followers","following_url":"https://api.github.com/users/lint-bot/following{/other_user}","gists_url":"https://api.github.com/users/lint-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/lint-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lint-bot/subscriptions","organizations_url":"https://api.github.com/users/lint-bot/orgs","repos_url":"https://api.github.com/users/lint-bot/repos","events_url":"https://api.github.com/users/lint-bot/events{/privacy}","received_events_url":"https://api.github.com/users/lint-bot/received_events","type":"User","site_admin":false},"body":"Nice
        comment.","created_at":"2014-12-24T18:11:08Z","updated_at":"2014-12-24T18:11:08Z","html_url":"https://github.com/lintci/guinea_pig/pull/1#discussion_r22261243","pull_request_url":"https://api.github.com/repos/lintci/guinea_pig/pulls/1","_links":{"self":{"href":"https://api.github.com/repos/lintci/guinea_pig/pulls/comments/22261243"},"html":{"href":"https://github.com/lintci/guinea_pig/pull/1#discussion_r22261243"},"pull_request":{"href":"https://api.github.com/repos/lintci/guinea_pig/pulls/1"}}}'
  recorded_at: Wed, 24 Dec 2014 18:11:09 GMT
recorded_with: VCR 2.9.3
