---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/lexci-lint-org-test/owner/collaborators?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token a3a3ccd66ce16c71f509080fe78b8a9af32311e4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4968'
      X-Ratelimit-Reset:
      - '1451768832'
      Etag:
      - W/"aaf619c38e506a9fc1287f6a31f4dbb1"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_CLIENT_ID>"
      X-Github-Media-Type:
      - github.ironman-preview; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"blatyo","id":71221,"avatar_url":"https://avatars.githubusercontent.com/u/71221?v=3","gravatar_id":"","url":"https://api.github.com/users/blatyo","html_url":"https://github.com/blatyo","followers_url":"https://api.github.com/users/blatyo/followers","following_url":"https://api.github.com/users/blatyo/following{/other_user}","gists_url":"https://api.github.com/users/blatyo/gists{/gist_id}","starred_url":"https://api.github.com/users/blatyo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/blatyo/subscriptions","organizations_url":"https://api.github.com/users/blatyo/orgs","repos_url":"https://api.github.com/users/blatyo/repos","events_url":"https://api.github.com/users/blatyo/events{/privacy}","received_events_url":"https://api.github.com/users/blatyo/received_events","type":"User","site_admin":false,"permissions":{"admin":true,"push":true,"pull":true}},{"login":"lexci-lint","id":12980159,"avatar_url":"https://avatars.githubusercontent.com/u/12980159?v=3","gravatar_id":"","url":"https://api.github.com/users/lexci-lint","html_url":"https://github.com/lexci-lint","followers_url":"https://api.github.com/users/lexci-lint/followers","following_url":"https://api.github.com/users/lexci-lint/following{/other_user}","gists_url":"https://api.github.com/users/lexci-lint/gists{/gist_id}","starred_url":"https://api.github.com/users/lexci-lint/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lexci-lint/subscriptions","organizations_url":"https://api.github.com/users/lexci-lint/orgs","repos_url":"https://api.github.com/users/lexci-lint/repos","events_url":"https://api.github.com/users/lexci-lint/events{/privacy}","received_events_url":"https://api.github.com/users/lexci-lint/received_events","type":"User","site_admin":false,"permissions":{"admin":true,"push":true,"pull":true}}]'
  recorded_at: Sat, 02 Jan 2016 20:27:47 GMT
- request:
    method: get
    uri: https://api.github.com/repos/lexci-lint-org-test/owner/keys?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token a3a3ccd66ce16c71f509080fe78b8a9af32311e4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4967'
      X-Ratelimit-Reset:
      - '1451768832'
      Etag:
      - '"539bc4c16be76a19339e7f1dc6284d1a"'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_CLIENT_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 02 Jan 2016 20:27:47 GMT
- request:
    method: get
    uri: https://api.github.com/repos/lexci-lint-org-test/owner/hooks?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token a3a3ccd66ce16c71f509080fe78b8a9af32311e4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4966'
      X-Ratelimit-Reset:
      - '1451768832'
      Etag:
      - '"539bc4c16be76a19339e7f1dc6284d1a"'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook
      X-Oauth-Client-Id:
      - "<GITHUB_CLIENT_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 02 Jan 2016 20:27:48 GMT
- request:
    method: put
    uri: https://api.github.com/repos/lexci-lint-org-test/owner/collaborators/luci-lint
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token a3a3ccd66ce16c71f509080fe78b8a9af32311e4
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4965'
      X-Ratelimit-Reset:
      - '1451768832'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_CLIENT_ID>"
      X-Github-Media-Type:
      - github.ironman-preview; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 02 Jan 2016 20:27:48 GMT
- request:
    method: post
    uri: https://api.github.com/repos/lexci-lint-org-test/owner/keys
    body:
      encoding: UTF-8
      string: '{"title":"LintCI","key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDJ4Zsu58p3YGmE6eafPgLyuGrIogGBvzyd5BdDxnj0ex1XKa1ejmQU1XwvD1thUwqtvKjOT9UzpWYvgOc648wQVXL9pY39WUkJLKizrsd9ZG7fwJZb+3UIiRa+XoOjMbMeFbz6MSmRyCqry1wKKd+brjYT267Znh93rynYUQs/1/tjEkRmQ0PvxT/KOaiXQSWxlq/mR17/QhdpKAS04F8EyMq6vog3LihG4Np2cnaI1CzRx2Td2cBM6Kn0wGqhi2EYBRnRBn7Xli3TB0cE7e2js+6yNdz1pbm5oPUFv9Hkq23Rv3qOYDzjLPb1sO4lWo+U5CgDhk8kbrvILvFDVNR/
        LintCI"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token a3a3ccd66ce16c71f509080fe78b8a9af32311e4
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4964'
      X-Ratelimit-Reset:
      - '1451768832'
      Etag:
      - '"4a5be569054a54626432086034f21a2f"'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_CLIENT_ID>"
      Location:
      - https://api.github.com/repos/lexci-lint-org-test/owner/keys/15183196
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":15183196,"key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDJ4Zsu58p3YGmE6eafPgLyuGrIogGBvzyd5BdDxnj0ex1XKa1ejmQU1XwvD1thUwqtvKjOT9UzpWYvgOc648wQVXL9pY39WUkJLKizrsd9ZG7fwJZb+3UIiRa+XoOjMbMeFbz6MSmRyCqry1wKKd+brjYT267Znh93rynYUQs/1/tjEkRmQ0PvxT/KOaiXQSWxlq/mR17/QhdpKAS04F8EyMq6vog3LihG4Np2cnaI1CzRx2Td2cBM6Kn0wGqhi2EYBRnRBn7Xli3TB0cE7e2js+6yNdz1pbm5oPUFv9Hkq23Rv3qOYDzjLPb1sO4lWo+U5CgDhk8kbrvILvFDVNR/","url":"https://api.github.com/repos/lexci-lint-org-test/owner/keys/15183196","title":"LintCI","verified":true,"created_at":"2016-01-02T20:27:48Z","read_only":false}'
  recorded_at: Sat, 02 Jan 2016 20:27:48 GMT
- request:
    method: post
    uri: https://api.github.com/repos/lexci-lint-org-test/owner/hooks
    body:
      encoding: UTF-8
      string: '{"name":"web","config":{"url":"https://p2s.lintci.com/payloads","secret":"<GITHUB_WEBHOOK_TOKEN>","content_type":"application/x-www-form-urlencoded"},"events":["push","pull_request"],"active":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token a3a3ccd66ce16c71f509080fe78b8a9af32311e4
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4963'
      X-Ratelimit-Reset:
      - '1451768832'
      Etag:
      - '"0303460f647c28a14ac5fcb620d668cf"'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, repo, write:repo_hook
      X-Oauth-Client-Id:
      - "<GITHUB_CLIENT_ID>"
      Location:
      - https://api.github.com/repos/lexci-lint-org-test/owner/hooks/6822079
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/lexci-lint-org-test/owner/hooks/6822079","test_url":"https://api.github.com/repos/lexci-lint-org-test/owner/hooks/6822079/test","ping_url":"https://api.github.com/repos/lexci-lint-org-test/owner/hooks/6822079/pings","id":6822079,"name":"web","active":true,"events":["push","pull_request"],"config":{"url":"https://p2s.lintci.com/payloads","secret":"********","content_type":"application/x-www-form-urlencoded"},"last_response":{"code":null,"status":"unused","message":null},"updated_at":"2016-01-02T20:27:48Z","created_at":"2016-01-02T20:27:48Z"}'
  recorded_at: Sat, 02 Jan 2016 20:27:48 GMT
[...]
- request:
    method: delete
    uri: https://api.github.com/repos/lexci-lint-org-test/owner/hooks/6822079
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token a3a3ccd66ce16c71f509080fe78b8a9af32311e4
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4961'
      X-Ratelimit-Reset:
      - '1451768832'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, repo
      X-Oauth-Client-Id:
      - "<GITHUB_CLIENT_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 02 Jan 2016 20:27:48 GMT
- request:
    method: delete
    uri: https://api.github.com/repos/lexci-lint-org-test/owner/keys/15183196
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token a3a3ccd66ce16c71f509080fe78b8a9af32311e4
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4960'
      X-Ratelimit-Reset:
      - '1451768832'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_CLIENT_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 02 Jan 2016 20:27:48 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/lexci-lint-org-test/owner/hooks?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token a3a3ccd66ce16c71f509080fe78b8a9af32311e4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4956'
      X-Ratelimit-Reset:
      - '1451768832'
      Etag:
      - '"539bc4c16be76a19339e7f1dc6284d1a"'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, read:repo_hook, repo, write:repo_hook
      X-Oauth-Client-Id:
      - "<GITHUB_CLIENT_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 02 Jan 2016 20:27:49 GMT
recorded_with: VCR 2.9.3
